/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.bar {
  &.bar-stable {
    background: #fff;
  }
  .buttons {
    position: relative;
    z-index: 9;
  }
  .title {
    margin-left: 0 ;
    margin-right: 0 ;
    left: 0 !important;
    right: 0 !important;
    .list-inset {
      margin: 0;
    }
    .item-input {
      border: none;
      padding-left: 45px;
      padding-right: 40px;
      input {
        padding-right: 0;
      }
    }
  }
  .icon {
    height: 34px;
    width: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 20px;
    &:before {
      height: 34px;
      width: 34px;
      line-height: 34px;

    }
  }
}

