<ion-view hide-nav-bar="true">
  <ion-header-bar class="bar-stable bar bar-header" align-title="center">
    <button ng-click="$ionicGoBack()" class="button back-button hide buttons  button-clear header-item"><i
      class="icon ion-ios-arrow-back"></i>
      <span class="back-text"><span class="default-title">Back</span><span class="previous-title hide"></span></span>
    </button>
    <div class="buttons buttons-left header-item">
      <span class="left-buttons">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </span>
    </div>
    <div class="title title-center header-item">
      <div class="list list-inset">
        <label class="item item-input">
          <!--<input type="text" placeholder="Search">-->
          <input type="text" g-places-autocomplete ng-model="myScopeVar" ng-change="getLocation(myScopeVar)"
                 placeholder="Search"/>
          <i class="icon ion-search"></i>

        </label>
      </div>
    </div>
    <div class="buttons buttons-right header-item">
      <span class="right-buttons">
        <span class="icon ion-forward" ng-click="openFindWayModal()"></span>
      </span>
    </div>
  </ion-header-bar>
  <ion-content scroll="false">
    <div id="map" style="width:100%;height:100%;"></div>
    <div class="pac-container" style="display: block; top: 40px; left: 45px; width: 256px;">
      <div class="pac-item list-short-link">
        <i class="icon ion-ios-flame"></i>
        <i class="icon ion-fork"></i>
        <i class="icon ion-coffee"></i>
        <i class="icon ion-medkit"></i>
        <i class="icon ion-android-bus"></i>
      </div>
      <div class="pac-item"   ng-class="pac-item-selected" >
        <span class="pac-icon pac-icon-marker"></span><span class="pac-item-query" ><span class="pac-matched">A</span>rizona</span><span  class="ng-binding">Hoa Kỳ&nbsp;</span>
      </div>
      <div class="pac-item"   ng-class="pac-item-selected" >
        <span class="pac-icon pac-icon-marker"></span><span class="pac-item-query" ><span class="pac-matched">A</span>rizona</span><span  class="ng-binding">Hoa Kỳ&nbsp;</span>
      </div>
      <div class="pac-item"   ng-class="pac-item-selected" >
        <span class="pac-icon pac-icon-marker"></span><span class="pac-item-query" ><span class="pac-matched">A</span>rizona</span><span  class="ng-binding">Hoa Kỳ&nbsp;</span>
      </div>
    </div>
    <script id="my-modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <div class="buttons">
            <span class="icon ion-android-arrow-back" ng-click="closeFindWayModal()"></span>
          </div>
          <h1 class="title">Tìm đường</h1>
        </ion-header-bar>
        <ion-content>
          <div class="list">
            <label class="item item-input item-select">
              <div class="input-label">
                Travel mode
              </div>
              <select ng-model="travelMode" ng-options="template.value as template.name for template in travelModes"
                      ng-change="calculateAndDisplayRoute(directionsService, directionsDisplay, startRoute, endRoute, travelMode)">
              </select>
            </label>
            <label class="item item-input">
              <input type="text" g-places-autocomplete ng-model="startRoute"
                     ng-blur="calculateAndDisplayRoute(directionsService, directionsDisplay, startRoute, endRoute, travelMode)"
                     placeholder="Bắt đầu" id="start">
            </label>
            <label class="item item-input">
              <input type="text" g-places-autocomplete ng-model="endRoute"
                     ng-blur="calculateAndDisplayRoute(directionsService, directionsDisplay, startRoute, endRoute, travelMode)"
                     placeholder="Kết thúc">
            </label>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
  </ion-content>
</ion-view>
